@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Poppins:wght@200;300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";




@layer components{
    .container{
        @apply max-w-[1024px] mx-auto
    }

    .section_title{
        @apply text-center mb-6

    }

}

@layer utilities{
    .icon-path{
        @apply fill-black
    }
}

.row {
    margin-top: 12px;
    }
.img {
    width: 250px;
    height: 40px;
    }

.toggle{
    position: relative;
    width: 40px;
    height: 40px;
    
    border-radius: 10px;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.08); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.toggle span{
    position: absolute;
    width: 30px;
    height: 2.4px;
    /* background-color: #1863ff; */
    background-color: #333333;
    color: #2e5b88;
    border-radius: 4px;
    transition: .5s;
}

.toggle span:nth-child(1){
    transform: translateY(-7px);
    /* width: 20px; */
    left: 5px;
}

.toggle.active span:nth-child(1){
    width: 20px;
    transform: translateY(0px) rotate(45deg);
}

.toggle span:nth-child(2){
    transform: translateY(7px);
    /* width: 10px; */
    left: 5px;
}

.toggle.active span:nth-child(2){
    width: 20px;
    transform: translateY(0px) rotate(315deg);
}

.toggle.active span:nth-child(3){
    transform: translateX(60px);
}

.toggle{
    position: relative;
    width: 40px;
    height: 40px;
    
    border-radius: 10px;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.08); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.toggle span{
    position: absolute;
    width: 30px;
    height: 2.4px;
    /* background-color: #1863ff; */
    background-color: #333333;
    color: #2e5b88;
    border-radius: 4px;
    transition: .5s;
}

.toggle span:nth-child(1){
    transform: translateY(-7px);
    /* width: 20px; */
    left: 5px;
}

.toggle.active span:nth-child(1){
    width: 20px;
    transform: translateY(0px) rotate(45deg);
}

.toggle span:nth-child(2){
    transform: translateY(7px);
    /* width: 10px; */
    left: 5px;
}

.toggle.active span:nth-child(2){
    width: 20px;
    transform: translateY(0px) rotate(315deg);
}

.toggle.active span:nth-child(3){
    transform: translateX(60px);
}



